* {
  font-family: "Roboto", sans-serif;
}

strong,
.lang {
  color: aqua;
}

img,
.title {
  margin: 2rem auto;
}

li {
  list-style: none;
}

.main {
  position: relative;
  background: url("./assets/countries.jpg") no-repeat center fixed;
  min-height: 100vh;
  background-size: cover;
  background-color: rgb(37, 37, 37);
  color: white;
  background-blend-mode: soft-light;
}

.title {
  color: rgb(240, 205, 140);
}

.form {
  max-width: 500px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.weather {
  margin-bottom: 1.5rem;
}

.apis {
  color: yellowgreen;
}
